*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html body[data-scroll-locked] {
  overflow-y: scroll !important;
  margin-right: 0 !important;
  padding-right: 0 !important;

  --removed-body-scroll-bar-size: 0px !important;
}

body {
  background: #ffffff;
  color: #111111;

  font-family: var(--font-sans), sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}
